@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Map</h2>
        <div id="map"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>AEDs in the Map</h2>
        <div id="location"></div>
        <ul>
            <li><a href="#">AED 1</a></li>
            <li><a href="#">AED 2</a></li>
        </ul>
    </div>
</div>

@section scripts
{
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 35.922337, lng: 14.388411 },
                zoom: 11
            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);
                });
            }

            map.addListener('bounds_changed', function () {
                $("#location").html(JSON.stringify(map.getBounds()));
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIICHmQFj_9YYByQ9kPEpK9vlQLLgUj7w&callback=initMap" async defer></script>
}